ansible==1.6.6
anyjson==0.3.3
celery==3.1.23
click==6.6
Flask==0.11.1
Flask-LogConfig==0.4.2
Flask-Script==2.0.5
futures==2.1.6
httplib2==0.7.7
importlib==1.0.3
iniparse==0.3.1
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
logconfig==0.4.0
logutils==0.3.2
MarkupSafe==0.23
ordereddict==1.1
paramiko==1.7.5
pyasn1==0.0.12a0
pycrypto==2.0.1
pycurl==7.19.0
pygpgme==0.1
python-keyczar==0.71rc0
pytz==2016.6.1
PyYAML==3.11
redis==2.10.5
simplejson==2.0.9
singledispatch==3.4.0.3
six==1.10.0
urlgrabber==3.9.1
Werkzeug==0.11.10
yum-metadata-parser==1.1.2
